<%= form_with model: @expert do |form| %>

<% if @expert.errors.any? %>
  <div id="error_explanation">
      <h2>
        <% pluralize(@expert.errors.count, "Ошибка") %> обнаружено
      </h2>
  </div>
  <ul>
    <% @expert.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= form.label :firstName, 'Имя', class: 'form__label' %>
  <%= form.text_field :firstName, class: 'form__input' %>
</p>

<p>
  <%= form.label :lastName, 'Фамилия', class: 'form__label' %>
  <%= form.text_field :lastName, class: 'form__input' %>
</p>

<p>
  <%= form.label :secondName, 'Отчетсво', class: 'form__label' %>
  <%= form.text_field :secondName, class: 'form__input' %>
</p>

<p>
  <%= form.label :description, 'Описание мастера', class: 'form__label' %>
  <%= form.text_field :description, class: 'form__input' %>
</p>

<p>
  <%= form.label :phoneNumber, 'Номер телефона мастера', class: 'form__label' %>
  <%= form.text_field :phoneNumber, class: 'form__input' %>
</p>

Фото мастера:
<img class="form__photo" src="<%= "/" + ApplicationController::PICTURE_FOLDER + "/experts/" + @expert.id.to_s + ".jpg" %>" alt="">
<%= form.file_field :picture, class: "form__label" %>

<% if @procedures %>
  <h2>Добавить процедуры:</h2>
  <%  @procedures.each do |procedure| %>
  <div>
    <div class="form__subform">
      <%= form.hidden_field :procedures, name: 'procedure[' + procedure.id.to_s + '][id]', :value => procedure.id %>
      Название процедуры: <%= procedure.title %>
      <% if @expert.exp_procedures.where(:procedure_id => procedure.id).first.present? %>
        Цена:<%= form.number_field  :procedures,
          name: 'procedure[' + procedure.id.to_s + '][price]',
          value: @expert.exp_procedures.where(:procedure_id => procedure.id).first.price %>
        Вермя: <%= form.number_field  :procedures,
          name: 'procedure[' + procedure.id.to_s + '][time]',
          value: @expert.exp_procedures.where(:procedure_id => procedure.id).first.time_consume %>
      <% else %>
        Цена:<%= form.number_field  :procedures, name: 'procedure[' + procedure.id.to_s + '][price]'%>
        Вермя: <%= form.number_field  :procedures, name: 'procedure[' + procedure.id.to_s + '][time]' %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>

<p>
  <%= form.submit 'Обработать' %>
</p>



<% end %>
