<%= stylesheet_link_tag "experts" %>
<div class="experts">
  <div class="experts__menu experts-menu">
    <div class="experts-menu__item button">
      <%= link_to 'Добавить мастера', new_expert_path %>
    </div>
  </div>

  <h1>Список мастеров</h1>

  <table class="table" cellspacing="0">
    <tr class="table__row">
      <th class="table__title">Фамилия</th>
      <th class="table__title">Имя</th>
      <th class="table__title">Отчетсво</th>
      <th class="table__title">Описание</th>
      <th class="table__title">Номер телефона</th>
      <th class="table__title" colspan="1">Процедуры</th>
    </tr>
    <% @experts.each do |expert| %>
      <tr clase="table__row">
        <td class="table__info"><%= expert.lastName %></td>
        <td class="table__info"><%= expert.firstName %></td>
        <td class="table__info"><%= expert.secondName %></td>
        <td class="table__info"><%= expert.description %></td>
        <td class="table__info"><%= expert.phoneNumber %></td>
        <td class="table__info">
          <% expert.procedures.each do |procedure| %>
            <%= procedure.title %> : <%= expert.exp_procedures.where(:procedure_id => procedure.id).first.price %> <br>
          <% end %>
        </td>
        <td class="button"><%= link_to 'Показать детальнее', expert_path(expert) %></td>
        <td class="button"><%= link_to 'Изменить', edit_expert_path(expert) %></td>
        <td class="remove-button"><%= button_to 'Удалить', expert_path(expert), method: :delete, :onclick => "return confirm('Точно нужно удалить?')" %></td>
      </tr>
    <% end %>
  </table>

</div>
