<p>
  <strong>Имя:</strong>
  <%= @expert.firstName %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @expert.lastName %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @expert.secondName %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @expert.description %>
</p>

<p>
  <strong>Номер телефона:</strong>
  <%= @expert.phoneNumber %>
</p>

<% @expert.expertProcedures.each do |expertProcedure| %>
  <%= Procedure.find(expertProcedure[:procedure_id])[:title] %> : <%= expertProcedure[:price] %>
<% end %>
