<%= stylesheet_link_tag "time_slots" %>
<script>document.getElementsByTagName("html")[0].className += " js";</script>

<div class="body__title" id="date" data-attr-date="<%= @date %>"><%= @date %> - <%= @dayName %></div>

<div id="create-time-slot-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= form_with model: @timeSlot, url: "/time_slots" do |form| %>
      <div id="form">
        <!-- <select multiple name="procedures" id="form__procedures"></select> -->
        <%= select_tag(:procedures, [], {:multiple => true}) %>
        <div id="detailForm">
          <span>Время начала</span>
          <%= time_select(:detail_form, :start_time, {:minute_step => 15}) %>

          <div id="clientInformation">
            <div>Информация о клиенте:</div>
            <%= form.label :client_phone_number, 'Номер телефона' %>
            <%= form.text_field :client_phone_number %>
            <%= form.label :client_first_name, 'Имя' %>
            <%= form.text_field :client_first_name %>
          </div>
          <%= form.hidden_field :date, value: @date %>
          <%= form.hidden_field :expert_id %>
          <%= form.submit 'Обработать' %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="time-slot__previous-date">
  <a href="/time_slots/<%= (@date - 1.days).strftime("%Y%m%d") %>">
    Предыдущий день
  </a>
</div>
<div class="time-slot__next-date">
  <a href="/time_slots/<%= (@date + 1.days).strftime("%Y%m%d") %>">
    Следующий день
  </a>
</div>
<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
  <div class="cd-schedule__timeline">
    <ul id="test">
      <li class="time"><span>09:00</span></li>
      <li class="time"><span>09:30</span></li>
      <li class="time"><span>10:00</span></li>
      <li class="time"><span>10:30</span></li>
      <li class="time"><span>11:00</span></li>
      <li class="time"><span>11:30</span></li>
      <li class="time"><span>12:00</span></li>
      <li class="time"><span>12:30</span></li>
      <li class="time"><span>13:00</span></li>
      <li class="time"><span>13:30</span></li>
      <li class="time"><span>14:00</span></li>
      <li class="time"><span>14:30</span></li>
      <li class="time"><span>15:00</span></li>
      <li class="time"><span>15:30</span></li>
      <li class="time"><span>16:00</span></li>
      <li class="time"><span>16:30</span></li>
      <li class="time"><span>17:00</span></li>
      <li class="time"><span>17:30</span></li>
      <li class="time"><span>18:00</span></li>
    </ul>
  </div> <!-- .cd-schedule__timeline -->

  <div class="cd-schedule__events">
    <ul>
      <% @experts.each do |expert| %>
      <li class="cd-schedule__group">
        <div class="cd-schedule__top-info"><span><%= expert.lastName %></span></div>
        <ul class="cd-schedule__expert-time-line" data-attr-expert-id="<%= expert.id %>">
          <% @timeSlots.where(:date => @date).each do |timeSlot|  %>
            <% unless timeSlot.exp_procedures.where(:expert_id => expert.id).empty? %>
            <li class="cd-schedule__event">              
              <a
              data-start="<%= timeSlot.startTime.to_s(:time) %>"
              <% if timeSlot.endTime %>
                data-end="<%= timeSlot.endTime.to_s(:time) %>"
              <% else %>
                data-end="<%= timeSlot.startTime.to_s(:time) %>"
              <% end %>
              data-event="event-1" href="#0">
                <em class="cd-schedule__name">
                  Процедуры:
                  <% timeSlot.exp_procedures.where(:expert_id => expert.id).each do |expProcedure| %>
                    <%= expProcedure.procedure.title %>,
                  <% end %>
                  <br>
                  Имя: <%= timeSlot.client_first_name %>
                  <br>
                  Номер телефона :<%= timeSlot.client_phone_number %>
                </em>
              </a>
            </li>
            <% end %>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>

  <div class="cd-schedule-modal">
    <header class="cd-schedule-modal__header">
      <div class="cd-schedule-modal__content">
        <span class="cd-schedule-modal__date"></span>
        <h3 class="cd-schedule-modal__name"></h3>
      </div>

      <div class="cd-schedule-modal__header-bg"></div>
    </header>

    <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
  </div>

  <div class="cd-schedule__cover-layer"></div>
</div> <!-- .cd-schedule -->

<%= javascript_pack_tag 'time_slots', 'data-turbolinks-track': 'reload' %>
