<div class="button">
  <%= link_to 'Добавить новую процедуру', new_procedure_path %>
</div>

<h1>Список процедур</h1>
<table class="table">
  <tr class="table__row">
    <th class="table__title">Название процедуры</th>
    <th class="table__title">Описание процедуры</th>
  </tr>


  <% @procedures.each do |procedure| %>
    <tr  class="talbe__row">
      <td class="table__info"><%= procedure.title %></td>
      <td class="table__info"><%= procedure.description %></td>
      <td class="button"><%= link_to 'Показать подробнее', procedure_path(procedure) %></td>
      <td class="button"><%= link_to 'Редактивароть', edit_procedure_path(procedure) %></td>
      <td class="remove-button"><%= button_to 'Удалить', procedure_path(procedure), method: :delete, :onclick => "return confirm('Точно нужно удалить?')" %></td>

    </tr>
  <% end %>
</table>
